<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootswatch CSS -->
    <link href="/static/bootswatch_sketchy.min.css" rel="stylesheet" />
    <!-- Separated Popper and Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
      integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
      crossorigin="anonymous"
    ></script>
    <!-- Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    {% comment %} <link rel="stylesheet" href="{% static 'normalize.css' %}" /> {% endcomment %}
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />
    <title>다독 - 다국어 독서 파트너</title>
    {% block header %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top">
        <a class="navbar-brand" href="#"><h2 class='logo ml-3 mt-3'>다독</h1></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor01" style="">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">홈
                  <span class="sr-only">(current)</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">다운로드</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">커뮤니티</a>
              </li>
              <li class="nav-item mr-3">
                  <a class="nav-link" href="#">후원</a>
              </li>
          </ul>
          {% if username %}
          <button type="button" class="btn btn-success mr-3" onclick="location.href='/account/info/'">{{ nickname }}님 환영합니다!</button>
          <button type="button" class="btn btn-info mr-3" onclick="location.href='/setting/lang/'">언어</button>
          <button type="button" class="btn btn-secondary mr-3" onclick="location.href='/setting/app/'">설정</button>
          <button type="button" class="btn btn-danger mr-1" onclick="location.href='/account/logout/'">로그아웃</button>
          {% else %}
          <button type="button" class="btn btn-success mr-2" onclick="location.href='/account/login/'">로그인</button>
          <button type="button" class="btn btn-info mr-1" onclick="location.href='/account/register/'">회원가입</button>
          {% endif %}
        </div>  
      </nav> 
    </div>
    <div class="container">
    {% block contents %}
    {% endblock %}
    </div>
    <div class="container">
      <footer class="footer mt-5 pt-5">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="" class="lang">한국어</a></li>
          <li class="breadcrumb-item active"><a href="" class="lang">English</a></li>
          <li class="breadcrumb-item active"><a href="" class="lang">中文</a></li>
          <hr>
          <li class="breadcrumb-item active"><a href="" class="sitemap">사전신청</a></li>
          <li class="breadcrumb-item active"><a href="" class="sitemap">계정만들기</a></li>
          <li class="breadcrumb-item active"><a href="" class="sitemap">로그인</a></li>
          <li class="breadcrumb-item active"><a href="" class="sitemap">둘러보기</a></li>
          <li class="breadcrumb-item active"><a href="" class="sitemap">소식</a></li>
          <li class="breadcrumb-item active"><a href="" class="sitemap">커뮤니티</a></li>
          <li class="breadcrumb-item active"><a href="" class="sitemap">이용약관</a></li>
          <li class="breadcrumb-item active"><a href="" class="sitemap">고객센터</a></li>
        </ul>        
        <div class="copyright text-right">©2020 MakersWorld. all rights reserved.</div>
      </footer>
    </div>
  </body>
</html>
