{% extends "base.html" %}

{% block contents %}
<div class="my-4">
    <h2>{{user.nickname}}님 환영합니다!</h2>
    <br>
    <button type="button" class="btn btn-primary mt-2 mr-3" onclick="location.href='/wordbook/'">단어장</button>  
    <button type="button" class="btn btn-primary mt-2 mr-3" onclick="location.href='/cndic/'">중국어사전</button>  
    <button type="button" class="btn btn-primary mt-2 mr-3" onclick="location.href='/docs/import/'">문서 가져오기</button>  
    <button type="button" class="btn btn-primary mt-2 mr-3" onclick="location.href='/read/'">문서 보기</button>  
</div>
{% endblock %}