{% extends "base.html" %}

{% block contents %}
<div class="my-4">
    <h2>{{user.nickname}}님 환영합니다!</h2>
    <br>
    <button type="button" class="btn btn-primary mt-2 mr-3" onclick="location.href='/wordbook/'">단어장</button>  
    <button type="button" class="btn btn-primary mt-2 mr-3" onclick="location.href='/dic/cndic/'">중국어사전</button>  
    <button type="button" class="btn btn-primary mt-2 mr-3" onclick="location.href='/docs/create/txt/'">텍스트 가져오기</button>  
    <button type="button" class="btn btn-primary mt-2 mr-3" onclick="location.href='/docs/create/file/'">파일 가져오기</button>
    <button type="button" class="btn btn-primary mt-2 mr-3" onclick="location.href='/docs/create/img/'">이미지 가져오기</button>
    <button type="button" class="btn btn-primary mt-2 mr-3" onclick="location.href='/docs/list/'">내 서재</button>  
</div>
{% endblock %}