{% extends "base.html" %}

{% block contents %}
    <main class="container-fluid">
      <div class="container-fluid mt-5 pt-4"></div>
      <div class="container text-center mb-3">
        <h1 class="display-3">다독에 오신 것을<br>환영합니다.</h1>
        <hr>
        <p class="h2">
        영어/중국어 언제까지 사전 찾아가며 읽으실래요? <br />
        외국어를 읽는 최고의 방법, 다독을 시작하세요!<br />
        </p>
        {{ session.sessionId }}
      </div>
      <hr>
      <div class="container-float">
        <div class="main-content">
            <div class="Media">
                <img
                    class="Media-figure Image"
                    src=""
                    alt="img_placeholder"
                    width=75
                />
                <div class="Media-body">
                    <h3 class="Media-title text-success">
                    글 읽기에 최적화된<br>
                    다독 원터치 사전!</h3>
                    <p>
                    다독은 당신이 외국어 글을 읽을 때<br>
                    모르는 단어를 사전에 일일이 찾는것이<br>
                    얼마나 귀찮은지 잘 알고 있습니다.<br>
                    집중과 흐름이 뚝 끊기는 그 순간들,<br />
                    다독의 원터치 사전으로 안녕입니다.
                    </p>
                </div>
            </div>
            <hr>
            <div class="Media Media--reverse">
                <img
                    class="Media-figure Image"
                    src=""
                    alt="img_placeholder"
                    width=75
                />
                <div class="Media-body">
                    <h3 class="Media-title text-info">
                    당신의 편안한 eBook!<br>
                    다독 컴포트 북리더</h3>
                    <p>
                    텍스트, 워드, Epub 등<br>
                    다양한 형식의 파일을 지원하는<br>
                    당신 손안의 편안한 이북리더.<br>
                    이제 다독 컴포트 북리더<br>
                    하나만 챙기세요!
                    </p>
                </div>
            </div>
            <hr>
            <div class="Media">
                <img
                    class="Media-figure Image"
                    src=""
                    alt="img_placeholder"
                    width=75
                />
                <div class="Media-body">
                    <h3 class="Media-title text-danger">
                    독서 중 배운 단어를<br>
                    문장까지 통째로 저장,<br>
                    다독 올인원 단어장!</h3>
                    <p>
                    "아, 이 단어 뭐더라?" 하는 그 순간<br>
                    내가 단어를 처음 만났던 문맥을<br>
                    그대로 꺼내볼 수 있다면 어떨까요?<br>
                    다독 올인원 단어장으로<br>
                    외웠던 단어를 생생하게 복습하세요.<br />
                    </p>
                </div>
            </div>
            <hr>
            <div class="Media Media--reverse">
                <img
                    class="Media-figure Image"
                    src=""
                    alt="img_placeholder"
                    width=75
                />
                <div class="Media-body">
                    <h3 class="Media-title text-warning">
                    독서/학습 통계로<br>
                    늘어가는 실력 확인! <br>
                    다독 독서 모니터!</h3>
                    <p>
                    외국어 읽기가 편리해졌다면<br>
                    남은건 이제 다독을 통한 실력향상 뿐!<br>
                    다독 독서 모니터로<br>
                    당신의 독서습관을 확인하세요
                    </p>
                </div>
            </div>
        </div>
        <div class="side-content">
          <div class="infos">
            <div class="mailing">
              <h3 class="mailing-title">
                다독 메일링 등록<br>
                <small class="text-muted">
                학습자료와 소식을 <br>
                메일로 받아보세요</small>
              </h3>
              <br>
              <label class="control-label">메일 수신등록</label>
              <div class="form-group mb-5">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">✉</span>
                  </div>
                  <input type="text" class="form-control" aria-label="input email address" placeholder='이메일 주소 입력'>
                  <div class="input-group-append">
                    <a class="input-group-text" href='#'>신청</a>
                  </div>
                </div>
              </div>
            </div>
          </div>  
          <hr>
          <div class="infos get-involved">
            <h3 class="infos-title">다독 커뮤니티</h3>
            <div class="community">커뮤니티 최신 게시물</div>
            <br>
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">게시판 이름</div>
                <div class="card-body">
                    <h4 class="card-title">게시물 제목</h4>
                    <p class="card-text">게시물 본문이 여기에 들어갑니다.</p>
                </div>
            </div>
            <a href="" class="more">커뮤니티 둘러보기</a>
          </div>
          <hr>
          <div class="infos update-news">
            <h3 class="infos-title">버전 업데이트 정보</h3>
            <div class="update-news">현재 버전 0.0.1</div>
            <br>
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">업데이트 날짜</div>
                <div class="card-body">
                    <h4 class="card-title">업데이트 제목</h4>
                    <p class="card-text">업데이트 상세 내용이 여기에 표시됩니다.</p>
                </div>
            </div>
            <a href="" class="more">업데이트 히스토리</a>
          </div>
        </div>
      </div>
    </main>

{% endblock %}