{% extends "base.html"%} 
{% block contents %}
<div class="row mt-5 text-center">
  <h1>다독 회원가입, 쉽고 빠릅니다.</h1>
</div>
<div class="row mt-4">
  <div class="col-12">
    <form method="POST" action=".">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <input type="{{ field.field.widget.input_type }}" class="form-control
          {% if field.errors %}
           is-invalid
          {% endif %}"
          id="{{ field.id_for_label }}"
          placeholder="{{ field.field.widget.attrs.placeholder }}"
          name="{{ field.name }}" />
          {% if field.errors %}
          <div class="invalid-feedback">{{ field.errors }}</div>
          {% endif %}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary mt-2">회원가입</button>
      {% comment %} {%if errors%}
        {{ errors }}
      {% endif %} {% endcomment %}
    </form>
  </div>
</div>
{% endblock %}
