{% extends "base.html" %}

{% block contents %}
<h1 class='my-3'>나의 단어장 : 중국어</h1>
<div class="form-group">
    <select class="custom-select">
        <option selected="">정렬기준</option>
        <option value="1">학습날짜</option>
        <option value="2">난이도</option>
        <option value="3">병음(A-Z)</option>
        <option value="3">병음(Z-A)</option>
    </select>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 8%">구분</th>
      <th scope="col" style="width: 8%">단어</th>
      <th scope="col" style="width: 8%">발음</th>
      <th scope="col" style="width: 25%">의미</th>
      <th scope="col" style="width: 6%">출현빈도</th>
      <th scope="col" style="width: 20%">출현문장</th>
      <th scope="col">단어메모</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-light">
      <th scope="row">
        구분<br>
        <span class="badge badge-pill badge-light">읽은단어</span><br><small>(자동추가됨)</small>
        <span class="badge badge-pill badge-light">아는단어</span><br>
        <span class="badge badge-pill badge-light">모르는단어</span><br>
        <span class="badge badge-pill badge-light">햇갈리는단어</span><br>
      </th>
      <td>
        단어
        <br>
        <span class="badge badge-pill badge-warning">HSK1</span>
        <span class="badge badge-pill badge-success">HSK2</span>
        <br>
        <span class="badge badge-pill badge-info">HSK3</span>
        <span class="badge badge-pill badge-secondary">HSK4</span>
        <br>
        <span class="badge badge-pill badge-primary">HSK5</span>
        <span class="badge badge-pill badge-danger">HSK6</span>
      </td>
      <td>
        발음
      </td>
      <td>
        단어 뜻
        <br>
        <button type="button" class="btn btn-link">자세히>></button>
      </td>
      <td>
        매우높음<br>
        높음<br>
        중간<br>
        낮음<br>
        매우낮음
      </td>
      <td>
        단어 출현 문장
        <br>
        <button type="button" class="btn btn-link">문맥 자세히>></button>
      </td>
      <td>
        <form method="POST" action=".">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group mt-2">
                <input type="{{ field.field.widget.input_type }}" class="form-control form-control-sm
                {% if field.errors %}
                is-invalid
                {% endif %}"
                id="{{ field.id_for_label }}"
                placeholder="{{ field.field.widget.attrs.placeholder }}"
                value='기존 단어 메모 내용'
                name="{{ field.name }}" />
                {% if field.errors %}
                <div class="invalid-feedback">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-sm">메모추가</button>
        </form>
      </td>
    </tr>
    {% for word in wordbook.words %}
    <tr class="table-active">
      <th>
        {% ifequal word.word_mark 'V' %}
        <span class="badge badge-pill badge-light">읽은단어</span>
        <form method='POST' action="/wordbook/mark_update/{{ word.id }}/">
        {% csrf_token %}
        <div class="form-group">
          <input type="hidden" name="userword_id" value="{{ word.id }}">
          <select class="custom-select" name='word_mark' onchange="this.form.submit()">
            <option selected="V">읽은단어</option>
            <option value="K">아는단어</option>
            <option value="U">모르는단어</option>
            <option value="C">햇갈리는 단어</option>
          </select>
        </div>
        </form>
        {% endifequal %}
        {% ifequal word.word_mark 'K' %}
        <span class="badge badge-pill badge-light">아는단어</span>
        <form method='POST' action="/wordbook/mark_update/{{ word.id }}/">
        {% csrf_token %}
        <div class="form-group">
          <input type="hidden" name="userword_id" value="{{ word.id }}">
          <select class="custom-select" name='word_mark' onchange="this.form.submit()">
            <option selected="K">아는단어</option>
            <option value="V">읽은단어</option>
            <option value="U">모르는단어</option>
            <option value="C">햇갈리는 단어</option>
          </select>
        </div>
        </form>
        {% endifequal %}
        {% ifequal word.word_mark 'U' %}
        <span class="badge badge-pill badge-light">모르는단어</span>
        <form method='POST' action="/wordbook/mark_update/{{ word.id }}/">
        {% csrf_token %}
        <div class="form-group">
          <input type="hidden" name="userword_id" value="{{ word.id }}">
          <select class="custom-select" name='word_mark' onchange="this.form.submit()">
            <option selected="U">모르는단어</option>
            <option value="V">읽은단어</option>
            <option value="K">아는단어</option>
            <option value="C">햇갈리는 단어</option>
          </select>
        </div>
        </form>
        {% endifequal %}
        {% ifequal word.word_mark 'C' %}
        <span class="badge badge-pill badge-light">햇갈리는단어</span>
        <form method='POST' action="/wordbook/mark_update/{{ word.id }}/">
        {% csrf_token %}
        <div class="form-group">
          <input type="hidden" name="userword_id" value="{{ word.id }}">
          <select class="custom-select" name='word_mark' onchange="this.form.submit()">
            <option selected="C">햇갈리는 단어</option>
            <option value="V">읽은단어</option>
            <option value="K">아는단어</option>
            <option value="U">모르는단어</option>
          </select>
        </div>
        </form>
        {% endifequal %}
      </th>
      <th scope="row">
        <h2 class="table-word d-inline">{{ word.word_id.word }}</h2>
        {% ifequal word.word_id.word_group 'HSK1' %}
        <br>
        <span class="badge badge-pill badge-warning">{{ word.word_id.word_group }}</span>
        {% endifequal %}
        {% ifequal word.word_id.word_group 'HSK2' %}
        <span class="badge badge-pill badge-success">{{ word.word_id.word_group }}</span>
        {% endifequal %}
        {% ifequal word.word_id.word_group 'HSK3' %}
        <span class="badge badge-pill badge-info">{{ word.word_id.word_group }}</span>
        {% endifequal %}
        {% ifequal word.word_id.word_group 'HSK4' %}
        <span class="badge badge-pill badge-secondary">{{ word.word_id.word_group }}</span>
        {% endifequal %}
        {% ifequal word.word_id.word_group 'HSK5' %}
        <span class="badge badge-pill badge-primary">{{ word.word_id.word_group }}</span>
        {% endifequal %}
        {% ifequal word.word_id.word_group 'HSK6' %}
        <span class="badge badge-pill badge-danger">{{ word.word_id.word_group }}</span>
        {% endifequal %}
      </th>
      <td>
        <p class="text-muted">{{ word.word_id.pronounciation }}</p>
      </td>
      <td>
        {{ word.word_id.definition }}
        <br>
        <button type="button" class="btn btn-link">자세히>></button>
      </td>
      <td>
        {{ word.word_id.frequency }}
      </td>
      <td>
        {{ word.word_context }}
        <br>
        <button type="button" class="btn btn-link">문맥 자세히>></button>
      </td>
      <td>
        <form method="POST" action="/wordbook/memo_update/{{ word.id }}/">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group mt-2">
                <input type="{{ field.field.widget.input_type }}" class="form-control form-control-sm
                {% if field.errors %}
                is-invalid
                {% endif %}"
                id="{{ field.id_for_label }}"
                placeholder="{{ field.field.widget.attrs.placeholder }}"
                value="{{ word.memo_txt }}"
                name="{{ field.name }}" />
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-sm">메모수정</button>
        {% if mark_edited == word.id %}
        {% if errors %}<span class="text-danger d-block mt-1">{{ errors.memo_txt.as_text|safe }}{{ errors|safe }}</span>
        {% else %}<span class="text-success d-block mt-1">메모가 수정되었습니다.</span>
        {% endif %}{% endif %}
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div>
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#">&laquo;</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">&raquo;</a>
    </li>
  </ul>
</div>

{% endblock %}